@import "./components/Body.scss";
@import "./components/Footer.scss";
@import "./components/Navbar.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    color: white;
}

.app__container {
    height: 100vh;
}
